<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert User</title>
</head>
<body>
    <h1>Insert User</h1>
    <form action="/admin/saveUser" method="post">
        <input type="text" name="name" placeholder="your name ex:Sallam"/>
        <input type="number" name="age" placeholder="your age ex:33"/>
        <input type="submit" value="Submit"/>
    </form>
</body>
</html>